#bodyBack {
    background-color: #003835;
}
.navbar {
    background-color: #554148;
}
#foot {
    background-color: #006863;
}
.white {
    color: #EEE5E9;
}
.back {
    background-color: #BDA5AD;
}
.head {
    color : #3A001E;
}
#map {
    height: 400px;
}

.title {
    font-family: "Gugi", cursive;
}

.oswald {
    font-family: "Oswald", sans-serif;
}

.subtitle {
    font-family: "Oswald", sans-serif;
}
